.idea/
node_modules/
Documents/
platforms/
plugins/
www/
.android/

*.com
*.class
*.dll
*.exe
*.o
*.so
*.so

*.7z
*.dmg
*.gz
*.iso
*.jar
*.rar
*.tar
*.zip

google-services.json
GoogleService-Info.plist
