<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button menu="nav"></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <ion-grid>
        <ion-row class="ion-justify-content-center"><ion-img class="logo_lin" [src]="'../../../assets/img/logo_lin.png'"></ion-img></ion-row>
      </ion-grid>
    </ion-title>
    <ion-buttons slot="end">
      <ion-menu-button menu="user">
        <ion-icon name="person"></ion-icon>
      </ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
