<app-header-back titre="Mot de passe oublié" [BackUrl]="'/auth'"></app-header-back>

<ion-content padding>
  <p>Afin de récupérer un nouveau mot de passe, entre ton nom d'utilisateur ci-dessous</p>

  <form class="form auth" [formGroup]="validations_form"  (ngSubmit)="resetPassword(validations_form.value)">
    <ion-item>
      <ion-label><ion-icon name="person"></ion-icon></ion-label>
      <ion-input placeholder="Nom d'utilisateur" type="text" formControlName="pseudo"></ion-input>
    </ion-item>
    <div class="validation-errors">
      <ng-container *ngFor="let validation of validation_messages.pseudo">
        <div class="error-message" *ngIf="validations_form.get('pseudo').hasError(validation.type) && (validations_form.get('pseudo').dirty || validations_form.get('pseudo').touched)">
          {{ validation.message }}
        </div>
      </ng-container>
    </div>

    <ion-button expand="full" type="submit"  [disabled]="!validations_form.valid">Je suis nul</ion-button>
  </form>
</ion-content>
