<div class="limiter">
  <div class="container-auth">
    <div class="wrap-auth">
      <form class="auth-form" (ngSubmit)="resetPass(f)" #f="ngForm">
					<span class="auth-form-title p-b-26">
						Réinitialisation
					</span>
        <div *ngIf="loading">
          <div class="spin-wrapper">
            <div class="spinner"></div>
          </div>
        </div>
        <div id="authFormulaire">
          <div class="text-center">
          <span class="p-b-30 txt2">
            On a oublié son mot de passe ?
					</span>
          </div>
          <br/>
          <div class="wrap-inputAuth">
            <input class="inputAuth" type="password" name="pass" ngModel>
            <span class="focus-inputAuth" data-placeholder="Nouveau mot de passe"></span>
          </div>
          <div class="wrap-inputAuth">
            <input class="inputAuth" type="password" name="passc" ngModel>
            <span class="focus-inputAuth" data-placeholder="Confirmer le mot de passe"></span>
          </div>
          <div class="container-auth-form-btn">
            <div class="wrap-auth-form-btn">
              <div class="auth-form-bgbtn"></div>
              <button class="auth-form-btn" type="submit">
                Enregistrer
              </button>
            </div>
          </div>
          <div class="text-center p-t-115">
            <a class="txt1" [href]="_sys.DASHBOARD_LINK">
              J'ai retrouvé mon mot de passe !
            </a><br/>
            <a class="txt1" routerLink="/help">
              Besoin d'aide ?
            </a>
          </div>
        </div>
      </form>
      <div class="alert alert-danger"  *ngIf="error != ''">
              <span class="text-center">
                {{error}}
              </span>
      </div>
      <div class="alert alert-success"  *ngIf="success != ''">
              <span class="text-center">
                {{success}}
              </span>
      </div>
      <div class="text-center p-t-115" *ngIf="success != ''">
        <a class="txt1" [href]="_sys.DASHBOARD_LINK">
          Se connecter
        </a><br/>
        <a class="txt1" routerLink="/help">
          Besoin d'aide ?
        </a>
      </div>
    </div>
  </div>
</div>
