<div class="container">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Politique de confidentialité</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <p>Lors de votre utilisation de l'application ou du site web, votre géolocalisation peut être utilisée pour le bon fonctionnement de l'application.</p>
      <p>L'application sera susceptible d'accéder à votre navigateur web ainsi que votre caméra et votre stockage. Vos données ne seront pas transmises à des tiers.</p>
      <p>Pour toutes informations relatives à vos données, vous pouvez contacter le Bureau Des Elèves de l'INSA Centre Val de Loire : </p>
      <p>BDE INSA CVL, 88 Boulevard Lahitolle, 18000 Bourges</p>
    </mat-card-content>
  </mat-card>
</div>
