<ion-header>
  <ion-toolbar>
    <ion-searchbar placeholder="Rechercher un étudiant"
                   (ionChange)="enRecherche()"
                   [formControl]="searchControl"></ion-searchbar>
  </ion-toolbar>
</ion-header>

<ion-content no-padding>
  <div *ngIf="chargement" class="spinner-container">
    <ion-label>
      <ion-spinner name="crescent"></ion-spinner>
      <span>Recherche en cours...</span>
    </ion-label>
  </div>
  <ion-list>
    <ion-item *ngFor="let user of (userList | async)" (click)="showInfos(user.id)" tappable>
      <ion-label>
        <h3>{{user.name}}</h3>
        <p>Bungalow : {{user.bungalow}}</p>
      </ion-label>
    </ion-item>
  </ion-list>
</ion-content>
